// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// * VARIABLES
$nb__road__stripes: 9;
$nb__sky__particles: 9;

$bg: #4b4841;
$primary__color: #ffce4e;
$height: 400px;
$width: 400px;

$card__height: 180px;
$card__width: 320px;

$bike__height: 76px;
$bike__width: 131px;
$road__stripe__bg: #4b4841;

$helicopter__height: 66px;
$helicopter__width: 131px;
$sky__particle__bg: #4b4841;

// * FUNCTIONS
@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: $height;
  width: $width;
  margin-top: calc(#{$height} / 2 * -1);
  margin-left: calc(#{$width} / 2 * -1);
  border-radius: 7px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: $bg;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
  width: $card__width;
  height: $card__height;
  top: calc((#{$height} - #{$card__height}) / 2);
  left: calc((#{$width} - #{$card__width}) / 2);
  perspective: 800px;

  &:hover .flip {
    box-shadow: 8px -10px 15px 0 rgba(0, 0, 0, 0.5);
    transform: rotateX(180deg);
  }

  .flip {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    text-align: center;
    background-color: $primary__color;
  }

  .front {
    z-index: 2;
    transform: rotateX(0);
  }

  .front img {
    position: relative;
    top: calc((#{$card__height} - #{$bike__height}) / 2);
    height: $bike__height;
    width: $bike__width;
    transform-origin: 50% 100%;
    -webkit-animation: bike .6s ease-in-out infinite;
    animation: bike .6s ease-in-out infinite;
  }

  .front .street {
    position: absolute;
    top: calc(((#{$card__height} - #{$bike__height}) / 2) + #{$bike__height});
    left: 50%;
    width: calc(#{$bike__width} + (#{$bike__width} / 5.33));
    height: 3px;
    overflow: hidden;
    transform: translateX(-50%);
  }

  .street [class^="road__stripe__"] {
    position: absolute;
    top: 0;
    right: -25px;
    height: 100%;
    border-radius: 3px;
    background-color: $road__stripe__bg;
  }

  @for $i from 1 through $nb__road__stripes {
    .street .road__stripe__#{$i} {
      width: calc(2px + (#{$i} * 2px));
      animation: route__scrolling
        (0.8 + random_range(0, 2) / 10) +
        s
        linear
        (random_range(0, 10) / 10) +
        s
        infinite;
    }
  }

  .back {
    z-index: 1;
    transform: rotateX(180deg);
  }

  .back img {
    position: relative;
    top: calc((#{$card__height} - #{$helicopter__height}) / 2);
    height: $helicopter__height;
    width: $helicopter__width;
    z-index: 2;
    -webkit-animation: helicopter 1.5s ease-in-out infinite;
    animation: helicopter 1.5s ease-in-out infinite;
  }

  .back .sky__particles {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: calc( ((#{$width} - #{$helicopter__width}) / 2) + (#{$helicopter__width} / 5.33) );
    overflow: hidden;
    transform: translateX(-50%);
  }

  .sky__particles [class^="sky__particle__"] {
    position: absolute;
    right: -25px;
    height: 3px;
    background-color: $sky__particle__bg;
  }

  @for $i from 1 through $nb__sky__particles {
    .sky__particles .sky__particle__#{$i} {
      top: calc(20px + (#{$i} * 14px));
      width: (10 + random_range(1, 150) / 10) + px;
      -webkit-animation: particle (0.6 + random_range(0, 2) / 10) + s linear (random_range(0, 10) / 10) + s infinite;
      animation: particle (0.6 + random_range(0, 2) / 10) + s linear (random_range(0, 10) / 10) + s infinite;
    }
  }
}



// * ANIMATIONS
@-webkit-keyframes bike {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.03);
  }
}

@keyframes bike {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.03);
  }
}

@-webkit-keyframes route__scrolling {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}

@keyframes route__scrolling {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}

@-webkit-keyframes helicopter {
  0%, 100% {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes helicopter {
  0%, 100% {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@-webkit-keyframes particle {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}

@keyframes particle {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}
